beautifulsoup4==4.11.2
blinker==1.9.0
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
colorama==0.4.6
Flask==2.3.2
Flask-SQLAlchemy==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.2
requests==2.30.0
scrapping==0.1.dev0
shodan==1.28.0
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.36