<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Web Vulnerability Analysis</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>

    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <div class="container" style="flex-direction: column; align-items: center;">
            <section style="padding: 2rem; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); text-align: center; max-width: 800px;">
                <h2>Our Mission</h2>
                <p>This is diploma work of students from Astana IT University. In the future, we will add more features that are fun to use for beginners who are interested in cybersecurity!😊</p>
                <p>We aim to provide a user-friendly tool for basic web vulnerability analysis and learning.</p>
            </section>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2025 Web Vulnerability Analysis Tool</p>
    </footer>
    <script src="../static/scripts.js"></script>
</body>
</html>