<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Web Vulnerability Analysis</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>

    <header>
        <h1>Contact Us</h1>
    </header>

    <main>
        <div class="container" style="flex-direction: column; align-items: center;">
            <section style="padding: 2rem; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); text-align: center; max-width: 800px;">
                <h2>Message to our E-mails</h2>
                <a href="mailto:220494@astanait.edu.kz">220494@astanait.edu.kz</a> <a>| Aybek Zhenisov</a> <br>
                <a href="mailto:221032@astanait.edu.kz">221032@astanait.edu.kz</a> <a>| Alibek Amandykov</a> <br>
                <a href="mailto:220487@astanait.edu.kz">220487@astanait.edu.kz</a> <a>| Askar Bakeev</a> <br>
            </section>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2025 Web Vulnerability Analysis Tool</p>
    </footer>
    <script src="../static/scripts.js"></script>
</body>
</html>